footer{
    height: 5rem;
    bottom: 0;
    width: 100%;
}

footer img{
    height: 5rem;
    margin-top: 0.5rem;
    border-radius: 2.5rem;
}

.footer-container{
    background-color: rgb(67, 110, 248);
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}