.productImage{
    height: 200px;
}

.price{
    font-size: 2rem;
}

.container-to-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-to-cart{
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1rem;
    color: white;
    background-color: rgb(72, 72, 252);
    border-radius: 1.5rem;
}
