.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2rem;
    color: black;
}

.background{
    background-color: rgb(192, 183, 183);
}

.banner{
    width: 100%;
}